<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Call Cards</title>
    <th:block th:replace="/admin/layout/head :: head" />
</head>
<body class="animation">
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="/admin/layout/header_mobile :: header_mobile" />

    <!-- MENU SIDEBAR-->
    <th:block th:replace="/admin/layout/sidebar :: sidebar" />

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="/admin/layout/header_desktop :: header_desktop" />
        <!-- HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">

                    <div class="row">
                        <div class="col-4">
                            <h1>Call Cards</h1>
                        </div>
                        <div class="col-4">
                            <form action="/cards/search" method="post">
                                <div class="input-group">
                                    <input type="search" class="form-control" id="q" name="q" placeholder="Enter User ID">
                                    <button type="submit" class="btn btn-primary">Search</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-4">
                            <a href="/cards/create">
                                <button type="button" class="btn btn-danger">Create Call Card</button>
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Create At</th>
                                    <th>User ID</th>
                                    <th>User name</th>
                                    <th>Active</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="callCard : ${callCards}">
                                <tr >
                                    <td th:text="${callCard.id}"></td>
                                    <td th:text="${#dates.format(callCard.createdAt, 'dd-MM-yyyy')}"></td>
                                    <td th:text="${callCard.user.id}"></td>
                                    <td th:text="${callCard.user.username}"></td>
                                    <td th:text="${callCard.active}"></td>
                                    <td>
                                        <a class="btn btn-warning" title="" data-toggle="tooltip" th:href="@{/cards/select/{id}(id=${callCard.id})}" data-bs-original-title="View">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-binoculars-fill" viewBox="0 0 16 16">
                                                <path d="M4.5 1A1.5 1.5 0 0 0 3 2.5V3h4v-.5A1.5 1.5 0 0 0 5.5 1h-1zM7 4v1h2V4h4v.882a.5.5 0 0 0 .276.447l.895.447A1.5 1.5 0 0 1 15 7.118V13H9v-1.5a.5.5 0 0 1 .146-.354l.854-.853V9.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v.793l.854.853A.5.5 0 0 1 7 11.5V13H1V7.118a1.5 1.5 0 0 1 .83-1.342l.894-.447A.5.5 0 0 0 3 4.882V4h4zM1 14v.5A1.5 1.5 0 0 0 2.5 16h3A1.5 1.5 0 0 0 7 14.5V14H1zm8 0v.5a1.5 1.5 0 0 0 1.5 1.5h3a1.5 1.5 0 0 0 1.5-1.5V14H9zm4-11H9v-.5A1.5 1.5 0 0 1 10.5 1h1A1.5 1.5 0 0 1 13 2.5V3z"></path>
                                            </svg>
                                            View
                                        </a>
                                    </td>
                                </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT-->
        <!-- END PAGE CONTAINER-->
    </div>
</div>

<!--<th:block th:replace="/admin/temp_row_book :: temp_row_book" />-->

<!-- js -->
<th:block th:replace="/admin/layout/script :: script" />


<!--<script src="/assets/js/app.js"></script>-->

</body>
</html>