<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="header_desktop">
    <header class="header-desktop">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="header-wrap">
                    <form class="form-header" action="" method="POST">

                    </form>
                    <div class="header-button">
                        <div class="noti-wrap">

                        </div>
                        <div class="account-wrap">
                            <a href="#">
                                <i class="zmdi zmdi-power"></i>Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</th:block>