<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="header_mobile">
    <header class="header-mobile d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="index.html">
                        <img src="/assets/images/logo.png">
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="chart.html">Charts</a>
                    </li>
                    <li>
                        <a href="table.html">Tables</a>
                    </li>
                    <li>
                        <a href="form.html">Forms</a>
                    </li>
                    <li>
                        <a href="calendar.html">Calendar</a>
                    </li>
                    <li>
                        <a href="map.html">Maps</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</th:block>